.fill {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.fill img {
    /*flex-shrink: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    max-width: 100%;
    /*top: 0px;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
    /*object-fit: cover;*/
    overflow: hidden;
    /*position:absolute; */
}

.separated {
	margin-right: 10px;
    margin-bottom: 10px;
}

.small_img_container {
    justify-content: center;
    align-items: center;
}

.small_image {
	/*max-width: 100%;*/
	width: 200px;	
    display: block;
    /*width: 25vw;    */
    height: 280px;
    margin-left: auto;
      margin-right: auto;
    /*height: 70vh !important;*/
}

.add-button 
{
    float: right; 
    margin-bottom: 10px;
}

.shorten-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  resize: horizontal;
}

.shorten-text-index {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  resize: horizontal;
}

.complete{
    display:none;
}

.remaining-content span {
    display:none;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 40%;*/
}